<h2>Incident signalé</h2>
<p>Station: {{stationName}}</p>
<p>Catégorie: {{category}}</p>
<p>Description: {{description}}</p>
{{#if link}}
<p>Voir incident: <a href="{{link}}">{{link}}</a></p>
{{/if}}
