<h2>SLA en retard</h2>
<p>Bonjour {{name}},</p>
<p>Le courrier <strong>{{subject}}</strong> est en retard (deadline: {{deadline}}).</p>
{{#if link}}
<p>Détails: <a href="{{link}}">{{link}}</a></p>
{{/if}}
